
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
  <mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"><mat-icon id="icon">memory</mat-icon></div>
      <mat-card-title>Aplikacja licząca parametry ciągnienia drutu</mat-card-title>
      <mat-card-subtitle>Dariusz Szymczak IP31</mat-card-subtitle>
    </mat-card-header>


    <mat-card-content >
     <app-stepper></app-stepper>
    </mat-card-content>

  </mat-card>


</div>
